 .follow_list {
    background-color:#039FF5;
  }
  .p-font {
    color:whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
 
  .bloco-publicacao {
    margin-top: 100px;
  }
  .texto-publicacao:hover {
    text-shadow: #5eacdcbb 6px 8px 10px;
  }
  .publicacao-feed {
    box-shadow: #022233;
  }
  .nome_comentador {
    margin-left: 25px;
    border-style: solid;
    border-color: rgba(0, 1, 1, 0.172);
  }
  .comment-stamp {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 1, 1, 0.378);
    text-decoration:solid;
    border-width: 1px;
    margin-left: 20px;
  }