  .a1 {
    background-color:#039FF5;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .feed-margin-left {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 130px;
    border-style: solid;
    border-color: rgba(4, 4, 4, 0.272);
  }
  .follow_list {
    background-color:#039FF5;
  }
  .p-font {
    color:whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  nav {
    background-color:#03a0f551;
    padding: 10px;
    position: relative;
  }
  .bloco-publicacao {
    margin-top: 100px;
  }
  .texto-publicacao:hover {
    text-shadow: #5eacdcbb 6px 8px 10px;
  }
  .publicacao-feed {
    box-shadow: #022233;
  }
  .nome_comentador {
    margin-left: 25px;
    border-style: solid;
    border-color: rgba(0, 1, 1, 0.172);
  }
  .comment-stamp {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 1, 1, 0.378);
    text-decoration:solid;
    border-width: 1px;
    margin-left: 20px;
  }
  body {
    background-color: rgba(51, 47, 47, 0.083);
    min-height: auto;
  }